.sticky{position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;}
.titulosh1{color: rgb(255, 255, 255);}
.fondotitulosh1{background-color:  rgb(81, 75, 169) ;}
.titulosh2{color: rgb(0, 0, 252); text-align: center;}
.colorparrafos{color: white;}
.parrafos{background-color: black;}
#padding-interno{padding:30px;
    margin:10px;}
.tamañotitulo{font-size:50px;}
.negrita{font-weight: bold;}
.fijaesquina{
    position: fixed;
    bottom: 2vw;
    right: 1vw;
}
.colorbotonwhatsapp{color: green;}
.imagenderecha{
    position: absolute;
    right: 100px;
}
.imagenizquierda{
    position: relative;
    left: 100px;

}
.bordelista{border: 3px solid rgb(81, 75, 169);}
.cuatrofotos{
    font-size: 0;
    text-align: center;
}
.cuatrofotos .imgs{
    display: inline-block;
    width: 25%;
}
.imgs{
    height: auto;
    width: 100%;
}