@media (min-width: 992px){
    .navbar-carrito{
        position:absolute;
        right: 20px;
        top: 12px;
    }
    .card-carrito{
        position: absolute;
        right: 0px;
        top: 55px;
        background-color: #212529;
        width: 400px;
        z-index: 10;
        display: none;
    }
    .card-burga-carrito{
        height: 100px;
        border: white solid 1px;
        border-radius: 3px;
        margin: 5px;
    }
    .card-burga-carrito .textos{
        display: inline-block;
        margin-left: 10px;
    }
    .card-burga-carrito .titulo{
        color: white;
        font-size: 23px;
    }
    .card-burga-carrito .precio{
        color: white;
        font-size: 17px;
    }
    .card-burga-carrito img{
        height: 100%;
    }
    .card-burga-carrito .cantidad{
        display: inline-flex;
        margin-left: 50px;
    }
    .card-burga-carrito .cantidad input{
        width: 50px;
        position: absolute;
        right: 50px;
    }
    .card-comprar-carrito{
        float: right;
    }
    .card-comprar-carrito button{
        margin: 8px;
        border-radius: 5px;
        background-color: white;
        display: inline;
        /*FACIL*/
    }
    .card-comprar-carrito h5{
        color: white;
        display: inline;
    }
}

.navbar{
    position: sticky !important;
    top: 0px;
    z-index: 10;
}

.card{
    margin: 0 10px;
    min-width: 400px;
    margin-bottom: 10px;
}
.card .imagen{
    max-height: 320px;
    overflow: hidden;
    align-items: end;
    display: flex;
    border-radius: 5px;
}

.primero{
    height: 100px;
}


.titulo-principal{
    background-color: rgb(221, 221, 221);
    padding: 30px 0;
}
.titulo-principal h1{
    text-align: center;
    font-size: 80px;
}
.card-container{
    display: flex;
    margin: 50px 20px;
    overflow-x: scroll;
}
.card-container::-webkit-scrollbar{
    -webkit-appearance: none;
    height: 8px;
}
.card-container::-webkit-scrollbar-thumb{
    background-color: rgb(150, 150, 150);
    border-radius: 8px;
}
.colornosotros{
    background-color: #212529;
    height: 100px;
}
.nosotrosfinal{
    margin-top: -30px;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
}

@media (max-width: 600px){
    .card{
        min-width: 190px;
    }
    .card-container{
        margin: 50px 20px;
    }
    .card .imagen{
        max-height: 150px;
    }
    .card-text{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    .titulo-principal h1{
        font-size: 40px;
    }
    .titulo-principal{
        padding: 50px 0;
    }
    .precio{
        float:none !important;
    }
    .card-carrito{
        width: 100% !important;
    }
    .colornosotros{
        background-color: #212529;
        height: 100px;
    }
    .nosotrosfinal{
        margin-top: -30px;
        padding: 10px;
        color: white;
        text-align: center;
        font-size: 17px;
    }

}

@media (max-width: 992px){
    .card-carrito{
        position: absolute;
        left: 0px;
        top: 200px;
        background-color: #212529;
        width: 400px;
        z-index: 10;
    }
    .card-burga-carrito{
        height: 100px;
        border: white solid 1px;
        border-radius: 3px;
        margin: 5px;
    }
    .card-burga-carrito .textos{
        display: inline-block;
        margin-left: 10px;
    }
    .card-burga-carrito .titulo{
        color: white;
        font-size: 23px;
    }
    .card-burga-carrito .precio{
        color: white;
        font-size: 17px;
    }
    .card-burga-carrito img{
        height: 100%;
    }
    .card-burga-carrito .cantidad{
        display: inline-flex;
        margin-left: 50px;
    }
    .card-burga-carrito .cantidad input{
        width: 50px;
        position: absolute;
        right: 50px;
    }
    .card-comprar-carrito{
        margin-left: 5px;
    }
    .card-comprar-carrito button{
        margin: 8px;
        border-radius: 5px;
        background-color: white;
        display: inline;
        /*FACIL*/
    }
    .card-comprar-carrito h5{
        color: white;
        display: inline;
    }
    .colornosotros{
        background-color: #212529;
        height: 100px;
    }
    .nosotrosfinal{
        margin-top: -30px;
        padding: 20px;
        color: white;
        text-align: center;
        font-size: 20px;
    }
}